<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8"> 
		<title>NBatePapo - Agenda de contatos</title> 
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/socket.io/socket.io.js"></script>
	</head> 
	<body>
		<div class="container-fluid">
      		<div class="clearfix hero-unit">
